@using Knnithyanand.RazorSamples.ViewComponentBasic.Views.Shared.Components
@model EmailFieldViewModel

<div class="form-group">
    <label for="@Model.Id">@Model.Label</label>
    <input type="email" class="form-control" id="@Model.Id" aria-describedby="emailHelp" placeholder="@Model.Placeholder">
    <small id="emailHelp" class="form-text text-muted">@Model.Hint</small>
</div>
